body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    border-radius: 12px;
    overflow: hidden;
}

.screen {
    display: flex;
    justify-content: right;
    align-items: last baseline;
    background-color: black;
    color: white;
    width: 16.25rem;
    height: 6rem;
    padding: .75rem;
    font-size: xxx-large;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
        "clear . . divide"
        "seven eight nine multiply"
        "four five six minus"
        "one two three plus"
        "zero zero decimal equals";
    background-color: black;
    height: 20rem;
}

.zero {
    grid-area: zero;
}

button {
    border: none;
    border-radius: 40px;
    color: white;
    margin: 5px;
    font-size: large;
}

[data-type='number']:hover {
    background-color: lightgrey;
}

.clear:hover,
.empty:hover {
    background-color: darkgrey;
}

.clear,
.empty {
    background-color: lightgrey;
    color: black;
}

[data-type='number'] {
    background-color: grey;
}

[data-type='operator'],
[data-type='equals'] {
    background-color: orange;
}

[data-type='operator']:hover,
[data-type='equals']:hover,
[data-state='selected'] {
    background-color: white;
    color: orange;
}